@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}